h1 {
    font-size: 20px;
    font-family: Arial;
    color: #2164b1;
}

.inputfile {
	width: 0.1px;
    height: 0.1px;
    margin-top: 20px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {    
    font-family: Arial;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #2164b1;
    outline: none;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #b3bee1;

}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.ready {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    display: block;
    margin-top: 20px;
    padding: 7px;
}

.hide {
    display: none;
}

.loading {
    display: block;
    margin-top: 20px;
    padding: 7px;
}

a {
    font-family: Arial;
    font-size: 14px;
}

input[type=button] {
    color: white;
    background-color: #2164b1;
    border: 2px solid #2164b1;
    margin-top: 20px;
    padding: 7px;
    outline: none;
    width: auto;
}

input[type=button]:disabled {
    color: #cbd7ff;
    font-style: italic;
    background-color: #b3bee1;
    border: 2px solid #b3bee1;
}

input[type=button]:hover {
    background-color: #b3bee1;
    border: 2px solid #b3bee1;
}

input[type=button]:focus {
    background-color: #b3bee1;
    border: 2px solid #b3bee1;
    outline: none;
}

p {
    font-family: Arial;
    font-size: 14px;
}

